<h1>{{ image.title }}</h1>
<h2>Currently Browsing {{ tag.name }}</h2>
<a id="img-link" href="/tag/{{ tag.id }}/{{ image.id }}"><img id="image-img" src="{{ settings.mediapath }}{{ image.url }}"/></a>
<ul id="tag-list">
{% for otag in image.tags.all %}
	<li id="tag-{{ forloop.counter }}"><a id="tag-link-{{ forloop.counter }}" href="/tag/{{ otag.id }}/">{{ otag.name }}</a></li>    
{% endfor %}
</ul>
<form action="/image/{{ image.id }}/addTag/" method="post">
{% csrf_token %}
    <label for="tag_id_input">Tag ID:</label>
    <input type="text" name="tag_id" id="tag_id_input" />
    <br />
<input type="submit" value="Add!" />
</form>